<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/favicon.ico"/>
</head>
<body>
    <h1><%= title %></h1>
    <form method="POST" action="/attendance/">
        <p>spreadsheetのURLを入力してください。<input type="text" name="url" value='<%= url %>'></p>
        <input type="submit" value="検索">
    </form>
    <ul style="list-style-type: none;">
        <% for (let i of attendant){ %>
        <li><%= i %></li>
        <% } %>
    </ul>
</body>
</html>