<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="icon" href="/images/favicon.ico"/>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <li><a href="/users/add">追加</a></li>
        <li><a href="/users/login">ログイン</a></li>
        <li><a href="/users/alter">情報変更</a></li>
    </ul>
</body>
</html>